extends layout

block content
  h1= title
  p Ласкаво просимо до #[em LocalLibrary], базового вебсайту на Express, створеного як приклад для навчання на Mozilla Developer Network.

  h2 Динамічний вміст

  p У бібліотеці наявні такі записи:

  ul
    li #[strong Книги:] !{book_count}
    li #[strong Копії:] !{book_instance_count}
    li #[strong Доступні копії:] !{book_instance_available_count}
    li #[strong Автори:] !{author_count}
    li #[strong Жанри:] !{genre_count}
